<a href="https://colab.research.google.com/github/Omarito1980/SIM_YAC_MASAQUIZA_UPSE2023/blob/main/ecuacion_de_difusividad_360D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:

# Simulacion de yacimientos 1D

In [110]:
import numpy as np

In [111]:
import matplotlib.pyplot as plt

In [112]:
import plotly.express as px

In [113]:
import pandas as pd

In [142]:
P0 = [0, 4000, 4000, 4000, 4000, 0]
dx = 200
dt = 10
tf = 360 # en dias
tiempo=[0]

In [143]:
columnas=['Celda1','Celda2','Celda3','Celda4']
presiones=pd.DataFrame(columns=columnas)
presiones.loc[0]=P0[1:-1]

In [144]:
presiones.head()

   Celda1  Celda2  Celda3  Celda4
0    4000    4000    4000    4000

In [145]:
P1=P0
for t in range(dt,tf+1,dt):
  tiempo.append(t)
  for i in range(1,len(P0)-1):
      P1[i]=(P0[i-1]-2*P0[i]+P0[i+1])/dx**2*dt+P0[i]
  P0=P1
  presiones.loc[t/dt]=P0[1:-1]

In [147]:
presiones.head(36)

           Celda1       Celda2       Celda3       Celda4
0.0   4000.000000  4000.000000  4000.000000  4000.000000
1.0   3990.000000  3999.975000  3999.999938  3990.000000
2.0   3980.049937  3999.925250  3999.974751  3980.049937
3.0   3970.149501  3999.850934  3999.924629  3970.149499
4.0   3960.298381  3999.752237  3999.849761  3960.298376
5.0   3950.496269  3999.629341  3999.750331  3950.496259
6.0   3940.742861  3999.482427  3999.626526  3940.742844
7.0   3931.037853  3999.311676  3999.478530  3931.037827
8.0   3921.380943  3999.117266  3999.306525  3921.380904
9.0   3911.771832  3998.899376  3999.110693  3911.771776
10.0  3902.210221  3998.658181  3998.891214  3902.210145
11.0  3892.695815  3998.393858  3998.648268  3892.695715
12.0  3883.228321  3998.106580  3998.382033  3883.228192
13.0  3873.807446  3997.796521  3998.092684  3873.807282
14.0  3864.432900  3997.463852  3997.780399  3864.432697
15.0  3855.104395  3997.108745  3997.445350  3855.104147
16.0  3845.821645  3996.731369  3997.087712  3845.821345
17.0  3836.584365  3996.331892  3996.707657  3836.584008
18.0  3827.392273  3995.910482  3996.305355  3827.391851
19.0  3818.245088  3995.467306  3995.880976  3818.244594
20.0  3809.142531  3995.002528  3995.434689  3809.141958
21.0  3800.084324  3994.516313  3994.966661  3800.083665
22.0  3791.070193  3994.008824  3994.477059  3791.069439
23.0  3782.099864  3993.480222  3993.966048  3782.099007
24.0  3773.173066  3992.930669  3993.433792  3773.172097
25.0  3764.289527  3992.360324  3992.880454  3764.288437
26.0  3755.448980  3991.769346  3992.306196  3755.447761
27.0  3746.651159  3991.157892  3991.711179  3746.649800
28.0  3737.895798  3990.526120  3991.095563  3737.894290
29.0  3729.182634  3989.874185  3990.459507  3729.180967
30.0  3720.511406  3989.202241  3989.803167  3720.509570
31.0  3711.881855  3988.510443  3989.126701  3711.879839
32.0  3703.293722  3987.798942  3988.430265  3703.291515
33.0  3694.746750  3987.067889  3987.714012  3694.744343
34.0  3686.240686  3986.317437  3986.978096  3686.238066
35.0  3677.775276  3985.547733  3986.222670  3677.772433